*.pyc
app.db
./tmp
./build/*
idea
./.idea/*
env
venv
*.sublime*
/.idea
**/*.log
**/project_settings.json
**/celerybeat*
.env
**/__pycache__/
app/static/images/*
!app/static/images/stake_house/
app/static/images/stake_house/*
!app/static/images/stake_house/other_imgs/
